<nav aria-label="pagination">
  <ul class="pagination">
    {% if paginate.previous.is_link %}
      <li>
        <a href="{{ paginate.previous.url }}" rel="prev">{{ paginate.previous.title }}</a>
      </li>
    {% endif %}

    <li>
      <span>{{ paginate.current_page }}</span>
    </li>

    {% if paginate.next.is_link %}
      <li>
        <a href="{{ paginate.next.url }}" rel="next">{{ paginate.next.title }}</a>
      </li>
    {% endif %}
  </ul>
</nav>
