<footer class="site__footer">

  <div class="grid">

    <p>© {{ 'now' | date: '%Y' }} {{ shop.name }}</p>

    {% form 'customer', class: 'form' %}
      {{ form.errors | default_errors }}

      <div aria-live="polite">
        {% if form.posted_successfully? %}
          <p>Success</p>
        {% endif %}
      </div>

      <input type="hidden" name="contact[tags]" value="newsletter">

      <div class="form__group">
        <div class="form__field">
          <label for="newsletter-email" class="visually-hidden">
            Your email
          </label>
          <input type="email" id="newsletter-email" name="contact[email]" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off"
            autocapitalize="off">
          <input type="submit" name="commit" value="Subscribe">
        </div>
      </div>

    {% endform %}

    <nav class="navigation" aria-label="footer">
      <ul>
        {% for link in linklists.footer.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <ul class="social">
      <li>
        <a href="#" target="_blank">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ 'icons.svg' | asset_url }}#facebook" />
          </svg>
          <span class="visually-hidden">Facebook</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ 'icons.svg' | asset_url }}#instagram" />
          </svg>
          <span class="visually-hidden">Instagram</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ 'icons.svg' | asset_url }}#pinterest" />
          </svg>
          <span class="visually-hidden">Pinterest</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ 'icons.svg' | asset_url }}#twitter" />
          </svg>
          <span class="visually-hidden">Twitter</span>
        </a>
      </li>
    </ul>

  </div>

</footer>
