<h1>{{ customer.reset_password.title }}</h1>

<p>{{ customer.reset_password.subtext }}</p>

{% form 'reset_customer_password', class: 'form' %}

  {{ form.errors | default_errors }}

  <div class="form__group">
    <label for="reset-password">{{ customer.reset_password.password }}</label>
    <input type="password" name="customer[password]" id="reset-password">
  </div>

  <div class="form__group">
    <label for="reset-password-confirm">{{ customer.reset_password.password_confirm }}</label>
    <input type="password" name="customer[password_confirmation]" id="reset-password-confirm">
  </div>

  <div class="form__group">
    <input type="submit" value="{{ customer.reset_password.submit }}" class="button">
  </div>

{% endform %}
